<!-- Desktop-Table -->
<mat-card class="desktop-table">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let user of allUsers" >
      <td>{{ user['user'].firstName }} {{ user['user'].lastName }}</td>
      <td>{{ user['user'].email }}</td>
      <td>{{ user['user'].city }}</td>
      <button [matMenuTriggerFor]="editDetails" mat-icon-button class="">
        <mat-icon>manage_accounts</mat-icon>
        <mat-menu #editDetails="matMenu">
            <button [routerLink]="user.userId" mat-menu-item>Details</button>
            <button (click)="deleteUserDialog()" mat-menu-item>Delete User</button>
        </mat-menu>
    </button>
      <mat-icon></mat-icon>
    </tr>
  </table>
</mat-card>


<!-- Responsive-Table -->
<mat-card *ngFor="let user of allUsers" [routerLink]="user.userId" class="responsive-table mb-2">
  <table class="user-table ">
    <tr>
      <th>Name</th>
      <td>{{ user['user'].firstName }} {{ user['user'].lastName }}</td>
    </tr>
    <tr>
      <th>E-Mail</th>
      <td>{{ user['user'].email }}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{ user['user'].city }}</td>
    </tr>
  </table>
</mat-card>

<button (click)="openDialog()" class="btn-position" mat-fab color="primary" matTooltip="Add user">
  <mat-icon>add</mat-icon>
</button>