.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 1rem;
}

.sidenav-design {
    width: 300px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 16px;
    border-bottom: 1px solid lightgray;

    img {
        width: 50px;
    }
}


.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 225ms ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 225ms ease-in-out;
        }

        &:focus {
            outline: none;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 225ms ease-in-out;
        }

        mat-icon {
            margin-right: 16px;
        }
    }
}

.router-container {
    padding: 16px 56px;
}
