.full-width {
    width: 100%;
}

.dialog-cointainer {
    position: relative;
}

.progressbar-container {
    position: absolute;
    bottom: 0;
    right: -24px;
    left: -24px;
    margin: 0;
    padding: 0;
}