<mat-card class="detail-header">
    <img src="../../assets/img/profil-placeholder.png" alt="">
    <div class="user-datails">
        <h2>{{ users['user'].firstName }} {{ users['user'].lastName }}</h2>
        <span>{{ users['user'].email }}</span>
    </div>
</mat-card>

<mat-card class="mt-32px">
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        <p>
            {{ users['user'].street }} <br>
            {{ users['user'].zipCode }} {{ users['user'].city }}
        </p>
    </mat-card-content>
</mat-card>