<mat-card *ngIf="!authService.isLoggedIn" class="signin-container-child">
  <h3>Reset Password</h3>
  <form [formGroup]="reactiveForm" class="signin-container mb-2" action="">
    <div class="mb-2">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input type="email" [email]="true" matInput placeholder="pat@example.com" formControlName="email"
          #passwordResetEmail required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Calling SignIn Api from AuthService -->
    <button type="submit" [disabled]="reactiveForm.invalid" class="mb-2"
      (click)="authService.ForgotPassword(passwordResetEmail.value)" mat-stroked-button color="primary">Reset
      Password</button>
  </form>
  <button class="btn-style" routerLink="/signin" mat-stroked-button>Log In</button>
</mat-card>